.projectList {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--xtra-light-lime);
}
  
.projectItem {
    scroll-snap-align: start; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.25rem;
    padding-top: 5rem;
    font-family: var(--body);
}

.projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.projectItem h3 {
    color: var(--med-indigo);
    font-weight: 700;
    font-size: 1.5rem;
    z-index: 2;
}
  
.projectDetails {
    text-align: left;
}
  
.viewMore {
    margin-top: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}
  

@media (min-width: 840px) {
    .projectItem {
        margin-left: 41vw;
        margin-right: 18vw;
        padding-top: 2vw;
        justify-content: center;
        align-items: flex-start;
    }

    .projectImage {
        justify-content: flex-start;
    }

    .projectImage img {
        /* width: 50%; */
        height: auto;
        border-radius: 8px;
    }

}