.page {
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll;
    height: 100vh; 
    scroll-behavior: smooth;  */
    background-color: var(--light-cream);
}

.mainWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0; 
}

.sideNav {
    position: sticky;
    top: 10rem;
    left: 0;
    width: 20vw;
}

.sideNavMenu {
    height: 10%;
    width: 10vw;
    padding: 2rem;
    background-color: var(--yellow);
    border: 1px solid #ddd;
}


.contentWrapper {
    width: 80vw;
    padding-left: 3rem;
}

.projectSummary {
    text-align: left;
    max-width: 80vw;
    margin-top: 10rem;
    font-size: 1rem;
    margin-bottom: 12vh;
    color: var(--dark-blue);
}

.projectSummary li {
    list-style: none;
}

.projectTitle {
    font-size: 4.5rem;
    color: var(--violet);
    letter-spacing: 0.2rem;
}

.projectTitle span {
    font-size: 1.2rem;
    color: var(--violet);
    letter-spacing: 0;
}

.footer {
    margin-top: 5rem;
    text-align: center;
    font-size: 0.9rem;
}
