.featureBox {
	width: 100%;
	padding: 1rem;
}

.featureCard {
	padding: 1.5rem;
	margin: 1rem;
	border-radius: 8px;
	background-color: var(--light-cream);
	transition: transform 0.3s ease; /* Smooth transition */
}

.featureCard:hover {
	transform: scale(1.1);
}

/* Column Layout - Mobile default (stacked) */
.columnLayout,
.smallLayout,
.mediumLayout,
.largeLayout {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* For small stacked cards (mobile default) */
.smallGridLayout {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Medium & Large - Centered on mobile */
.mediumLayout .featureCard,
.largeLayout .featureCard {
	width: 90%;
	margin: 0 auto;
}

.smallTitle {
	font-size: 1.15rem;
	color: var(--lavender);
}

@media (min-width: 600px) {
	.featureBox {
		padding: 2rem;
	}

	.smallGridLayout {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.mediumLayout .featureCard {
		width: 80%;
	}
}

@media (min-width: 840px) {
	.featureBox {
		padding: 1rem 0 5rem 0;
	}

	.smallGridLayout {
		grid-template-columns: repeat(3, 1fr);
	}

	.mediumLayout .featureCard {
		width: 70%;
		max-width: 600px;
	}

	.largeLayout .featureCard {
		width: 100%;
		max-width: 900px;
	}
}
