.introOuterContainer {
	height: 100vh;
	z-index: 2;
}

.introInnerContainer {
	text-align: left;
}

.introInnerContainer h1 {
	font-family: "Nyght-Bold";
	font-size: 10vh;
	color: var(--violet);
	text-align: left;
	z-index: 2;
	padding: 0 0 2vh 0;
	line-height: 10vh;
}

.introInnerContainer span {
	font-family: "Nyght-Bold-Italic";
}

@media (min-width: 840px) {
	.introInnerContainer p {
		font-size: 1.5rem;
	}
	.logoWrapper {
		position: absolute;
		left: 25vw;
		top: 17vh;
		perspective: 1200px;
		z-index: -1;
		opacity: 0.2;
		width: 40%;
	}

	.logoContainer {
		transform-style: preserve-3d;
		display: flex;
		justify-content: center;
		align-items: center; 
		will-change: transform;
	}
}
