@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900,i');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

:root {
  /* COLOURS */
  --jasmine: #faeaa2;
  --violet: #5657c0;
  --royal-blue: #0A0C7E;

  --lavender: #BFB2D5;
  --med-lavender: #A083C8;
  --plum: #A80079;

  --beige: #FFF8ED;
  --light-cream: #FFFCF1;
  --white: #FFFEFC;
  --taupe: #EAE6DA;
  --grey: #F7F7F7;
  --black: #3D3D3D;

  --z-header: 500;
  --z-sideNav: 1000;
  --z-modal: 1500;
  --z-tooltip: 2000;

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem; 
  font-weight: 400;
  color: var(--royal-blue);
}

.gridContainer {
  grid-template-columns: repeat(4, 1fr); 
  padding: 0 16px;
}

@font-face {
  font-family: 'Nyght-Reg';
  src: url('/fonts/NyghtSerif-Regular.woff2') format('woff2'),
       url('/fonts/NyghtSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 3em;
}

@font-face {
  font-family: 'Nyght-Reg-Italic';
  src: url('/fonts/NyghtSerif-RegularItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  letter-spacing: 3em;
}

@font-face {
  font-family: 'Nyght-Med-Italic';
  src: url('/fonts/NyghtSerif-MediumItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-MediumItalic.woff') format('woff');
  font-weight: medium;
  font-style: italic;
  letter-spacing: 3em;
}

@font-face {
  font-family: 'Nyght-Bold';
  src: url('/fonts/NyghtSerif-Bold.woff2') format('woff2'),
       url('/fonts/NyghtSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  letter-spacing: 3em;
}

@font-face {
  font-family: 'Nyght-Bold-Italic';
  src: url('/fonts/NyghtSerif-BoldItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

a {
  color: #3F3A60; /* Link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline when hovering */
}

button {
  font-family: inherit; /* Use the same font as the page */
  background-color: #5B548D; /* Purple button */
  color: white; /* White text */
  border: none; /* No borders */
  padding: 10px 20px; /* Space inside the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer when hovering */
}

button:hover {
  background-color: #908ABC; /* Lighter purple on hover */
}


@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(8, 1fr); /* 8 columns for tablet */
        padding: 0 20px;
    }
}

@media (min-width: 769px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    padding: 0 50px;
    width: 100%;
  }

}

