@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900,i");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");

:root {
	/* COLOURS */
	--jasmine: #faeaa2;
	--violet: #5657c0;
	--royal-blue: #0a0c7e;

	--lavender: #6C649E;
	--med-lavender: #a083c8;
	--plum: #a80079;

	--light-lavender: #F9F8FF;
	--vanilla: #fff9e1;
	--beige: #fdfaf3;
	--light-cream: #fffcf1;
	--white: #fffefc;
	--taupe: #eae6da;
	--grey: #f7f7f7;
	--black: #3d3d3d;

	--z-header: 500;
	--z-sideNav: 1000;
	--z-modal: 1500;
	--z-tooltip: 2000;
}

@font-face {
	font-family: "Nyght-Reg";
	src: url("/fonts/NyghtSerif-Regular.woff2") format("woff2"),
		url("/fonts/NyghtSerif-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	letter-spacing: 3em;
}

@font-face {
	font-family: "Nyght-Reg-Italic";
	src: url("/fonts/NyghtSerif-RegularItalic.woff2") format("woff2"),
		url("/fonts/NyghtSerif-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	letter-spacing: 3em;
}

@font-face {
	font-family: "Nyght-Med-Italic";
	src: url("/fonts/NyghtSerif-MediumItalic.woff2") format("woff2"),
		url("/fonts/NyghtSerif-MediumItalic.woff") format("woff");
	font-weight: medium;
	font-style: italic;
	letter-spacing: 3em;
}

@font-face {
	font-family: "Nyght-Bold";
	src: url("/fonts/NyghtSerif-Bold.woff2") format("woff2"),
		url("/fonts/NyghtSerif-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	letter-spacing: 3em;
}

@font-face {
	font-family: "Nyght-Bold-Italic";
	src: url("/fonts/NyghtSerif-BoldItalic.woff2") format("woff2"),
		url("/fonts/NyghtSerif-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--royal-blue);
}

.grainyBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("/images/noise.svg");
	opacity: 0.3;
	pointer-events: none;
	z-index: 3;
	mix-blend-mode: overlay;
  }

.gridContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

ul {
	padding: 1rem 0 1rem 2rem;
}

a {
	color: #3f3a60;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button {
	font-family: inherit;
	background-color: #5b548d;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #908abc; /* Lighter purple on hover */
}

@media (min-width: 600px) {
	.gridContainer {
		grid-template-columns: repeat(8, 1fr);
	}


	.sectionSpacing {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.sectionSpacing--small {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.sectionSpacing--medium {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.sectionSpacing--large {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	.sectionSpacing--xlarge {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}

@media (min-width: 840px) {
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		gap: 20px;
		max-width: calc(100% - 100px);
		margin: 0 auto;
	}
}
