@import url('https://fonts.cdnfonts.com/css/gantari');

:root {
  /* COLOURS */
  --charcoal: #3d3935;
  --indigo: #3f3a60;
  --med-indigo: #5b548d;
  --light-indigo: #908abc;
  --xtra-light-indigo: #d6d4e6;
  --lime: #b8be14;
  --med-lime: #ebef7c;
  --light-lime: #f9fad5;
  --xtra-light-lime: #FDFEF4;
  --ochre: #F4C52D;
  --med-ochre: #F8DF8D;
  --light-ochre: #FAEBBA;
  --xtra-light-ochre: #FEFCF6;
  --ivory: #FFFCF4;
  --pink: #EF7CB2;

  /* TYPEFACES */
  --name-font: 'Nyght-Reg-Italic', serif;
  --name-font-bold: 'Nyght-Bold-Italic', serif;
  --name-font-size: 2.5rem;
  --section-title: 'Nyght-Med-Italic', serif;
  --body: 'Gantari', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body);
  font-size: 1rem; /* Normal text size */
  font-weight: 200; /* Light text */
}


@font-face {
  font-family: 'Nyght-Reg';
  src: url('/fonts/NyghtSerif-Regular.woff2') format('woff2'),
       url('/fonts/NyghtSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght-Reg-Italic';
  src: url('/fonts/NyghtSerif-RegularItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nyght-Med-Italic';
  src: url('/fonts/NyghtSerif-MediumItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nyght-Bold';
  src: url('/fonts/NyghtSerif-Bold.woff2') format('woff2'),
       url('/fonts/NyghtSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght-Bold-Italic';
  src: url('/fonts/NyghtSerif-BoldItalic.woff2') format('woff2'),
       url('/fonts/NyghtSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

a {
  color: #3F3A60; /* Link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline when hovering */
}

button {
  font-family: inherit; /* Use the same font as the page */
  background-color: #5B548D; /* Purple button */
  color: white; /* White text */
  border: none; /* No borders */
  padding: 10px 20px; /* Space inside the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer when hovering */
}

button:hover {
  background-color: #908ABC; /* Lighter purple on hover */
}

